<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <title>vue</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <script defer="defer" src="/static/js/search/chunk-vendors.80d23958.js" type="module"></script>
    <script defer="defer" src="/static/js/search/app.be552d45.js" type="module"></script>
    <link href="/static/css/search/chunk-vendors.a9656209.css" rel="stylesheet">
    <script defer="defer" src="/static/js/search/chunk-vendors-legacy.3ae7aae3.js" nomodule></script>
    <script defer="defer" src="/static/js/search/app-legacy.3997cc80.js" nomodule></script>
</head>

<body><noscript><strong>We're sorry but vue doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong></noscript>
    <div id="app"></div>
</body>

</html>